@import './variables.scss';
.filmsContainer {
  @include media(desktop) {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 980px;
    gap: 20px;
  }
  @include media(mobile) {
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-evenly;
  }
}